<h2><%= @user1.name %> 様</h2>
　<p>この度、登録商品の購入が確定されました。<br>
　以下購入者へ、商品の発送をお願い致します。</p>
  
  <p>-----------------------------------</p>
  <p>購入者：<%= @user2.name %></p>
  <p>購入商品：<%= @item.name %></p>
  <p>購入数：<%= @user_item.quantity %></p>
  <p>-----------------------------------</p>

  <p>今後とも、EC-Shoppingをよろしくお願いいたします。</p>
