/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navlogin{
font-size: 16px;
position:relative;
top: 3px;
left:4px;
}
.title{
font-size: 23px;
font-style: italic;
text-shadow: 0px 0px 2px #999,2px 2px 3px #999;
}

.border_black{
  /*線の種類（実線） 太さ 色*/
  border-bottom: double 5px #FFC778;
}

.midashi {
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.top_user {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

.marukakomi {
  color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.3em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
}

.rireki {
  color: #364e96;/*文字色*/
  padding: 0.2em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.top {
  background-color: #C2D4F2;
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
  background-position: center center;
  background-size: 500px;  
}

.pen {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.main {
  background-color: #ffffff;
}

.category_main {
  background-color: #CCFFDD;
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
}

.category_font {
  font-weight: 700;
}
.table > thead > tr > th{
    border:1px solid #428bca;
}
.table > tbody > tr > th{
    border:1px solid #428bca;
}
.table > tbody > tr > td{
    border:1px solid #428bca;
}
.san-font{
font-family: sans-serif;
}



